<%= javascript_tag do%>
 window.spots= <%=raw @spots.to_json %>;

<%end%>
<div class="page_container">
  <h1>Standby Spots</h1>
  <div id="map-container">
    <div id="map-canvas"></div>
  </div>

  <h2>List of Standby Spots</h2>
  <div id='list_container'>
    <% @spots.each_with_index do |spot, index| %>
      <p><a id="info" href="javascript:triggerClick(<%=index%>)"><%= spot.name %></a></p>
    <% end %>
  </div>
</div>
