<div class="page_container">
  <h1>Standby Spots</h1>
  <div>
    <div id="map"></div>
  </div>

  <h2>List of Standby Spots</h2>
  <div class="sidebar_wrapper"
    <div id='sidebar_container'>
    </div>
  </div>
</div>

<script type="text/javascript">
  function createSidebarLi(json){
    return ("<li><a>" + json.name + "</a></li>");
  };

  function bindLiToMarker($li, marker){
    $li.on('click', function(){
      handler.getMap().setZoom(14);
      marker.setMap(handler.getMap()); //because clusterer removes map property from marker
      marker.panTo();
      google.maps.event.trigger(marker.getServiceObject(), 'click');
    })
  };

  function createSidebar(json_array){
    _.each(json_array, function(json){
      var $li = $( createSidebarLi(json) );
      $li.appendTo('#sidebar_container');
      bindLiToMarker($li, json.marker);
    });
  };

  handler = Gmaps.build('Google');
  handler.buildMap({ provider: {}, internal: {id: 'map'}}, function(){
    json_array = <%=raw @spots.to_json %>;
    markers = handler.addMarkers(<%=raw @hash.to_json %>);
    // handler.bounds.extendWith(markers);
    // handler.fitMapToBounds();
    centerMarker = { lat: 37.773972, lng: -122.431297};
    handler.map.centerOn(centerMarker);
    handler.getMap().setZoom(12);
    _.each(json_array, function(json, index){
      json.marker = markers[index];
    });

    createSidebar(json_array);
  });
</script>