// Place all the styles related to the Spots controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

main{
  max-width: 1550px;
  margin: 20px auto;
  font-family: 'Fira Sans Condensed', sans-serif;
}

.page-container{
  display: flex;
  flex-wrap:wrap;
}

.map-section{
  width: 100%;
  padding: 10px;
}

.list-section{
  padding: 25px;
  max-height: 600px;
  overflow: scroll;
}

#map-canvas {
  height: 600px;
  width: 100%;
 }

h1{
  text-align: center;
  font-family: 'Lobster', sans-serif;
  font-size: 3em;
  margin: 0px;
}

h2{
  font-family: 'Fira Sans Condensed', sans-serif;
}

a{
  color: orange;
}

a:hover{
  color: black;
}


@media only screen and (max-width: 500px) {
  h1{
    font-size: 32px;
  }

  .map-section{
    width: 100%;
    padding: 20px 5px;
  }

  .list-section{
    width: 100%;
    padding: 10px 5px;
    max-height: none;
  }

  #map-container {
    height: 450px;
  }

  #map-canvas {
    height: 445px;
   }
}