// Place all the styles related to the Spots controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body{
  font-family: 'Fira Sans Condensed', sans-serif;
}

header{
  background-color: #699864;
  padding: 20px;
  font-family: 'Lobster Two', sans-serif;
}

.logo-link{
  font-size: 25px;
  color: white;
  text-decoration: none;
}

.header-left{
  float: right;
  top:35px;
  right:15px;
  position: fixed;
}

.fa{
  color:white!important;
  padding-right: 15px;
}

.map-section{
  width: 100%;
}

#map-canvas {
  min-height: calc(100vh - 100px);
}

.list-container{
  text-align: center;
}

footer{
  height: 35px;
  width: 100%;
  background-color: #699864;
}

.footer{
  float:right;
  position: fixed;
  right:15px;
}

//Mobile styles
@media only screen and (max-width: 500px) {
  h1{
    font-size: 32px;
  }
}