// Place all the styles related to the Spots controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.page_container{
  max-width: 1550px;
  margin: 30px auto;
}

#map{
  max-width: 1400px; 
  height: 400px; 
}

h1{
  text-align: center;
  font-family: 'Lobster', sans-serif;
}

h2{
  font-family: 'Fira Sans Condensed', sans-serif;
}

.sidebar_wrapper{
  margin: 20px;
}

li {
  font-family: 'Fira Sans Condensed', sans-serif;
  font-family: 15px;
  list-style-type: none;
  margin-bottom: 7px;
}

li a:hover {
 cursor:pointer;
 background-color: black;
 color: white;
}